<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        button {
            position: relative;
            left: 45%;
            border-color: blue;
            width: 200px;
            height: 50px;
        }
    </style>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Cars Galore</title>
</head>
<body style="background-color: darkgray;">

<div class="container">
    <h1 style="color: white; text-shadow: 2px 2px 4px #000000;">Cars Galore</h1>
    <hr>
    <h2 style="color: white; text-shadow: 2px 2px 4px #000000;">Car Parts</h2>
    <form th:action="@{/mainscreen}">
        Filter: <input type="text" name="partkeyword" id="partkeyword" size="50" th:value="${partkeyword}" required />
        &nbsp;
        <input type="submit" value="Search" />
        &nbsp;
        <input type="button" value="Clear" id="btnClearPart" onclick="clearSearch()" />

        <a href="/About">
            <button type="button">About Us</button>
        </a>
    </form>
    <br><br>
    <a th:href="@{/showFormAddInPart}" class="btn btn-primary btn-sm mb-3">Add Inhouse Part</a>
    <a th:href="@{/showFormAddOutPart}" class="btn btn-primary btn-sm mb-3">Add Outsourced Part</a>
    <table class="table table-bordered table-striped" style="border-collapse: collapse; width: 100%;">
        <thead class="thead-dark" style="padding: 10px; text-align: center; vertical-align: middle;">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
            <th>Min Inventory Value</th>
            <th>Max Inventory Value</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempPart : ${parts}">
            <td th:text="${tempPart.name}" style="padding: 10px; text-align: center; vertical-align: middle;">1</td>
            <td th:text="${tempPart.price}" style="padding: 10px; text-align: center; vertical-align: middle;">1</td>
            <td th:text="${tempPart.inv}" style="padding: 10px; text-align: center; vertical-align: middle;">1</td>
            <td th:text="${tempPart.minInv}" style="padding: 10px; text-align: center; vertical-align: middle;">Min Inventory</td>
            <td th:text="${tempPart.maxInv}" style="padding: 10px; text-align: center; vertical-align: middle;">Max Inventory</td>
            <td style="text-align: center;">
                <a th:href="@{/showPartFormForUpdate(partID=${tempPart.id})}" class="btn btn-primary btn-sm">Update</a>
                <a th:href="@{/deletepart(partID=${tempPart.id})}" class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('Are you sure you want to delete this part?')))return false">Delete</a>
                <form th:action="@{/buyPart}" method="post" style="display:inline; margin: 0;">
                    <input type="hidden" name="partId" th:value="${tempPart.id}" />
                    <button type="submit" class="btn btn-success btn-sm" style="display: inline-block; position: relative; left: 25px; white-space: nowrap;">Buy Now</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <h2 style="color: white; text-shadow: 2px 2px 4px #000000;">Vehicle</h2>
    <form th:action="@{/mainscreen}">
        Filter: <input type="text" name="productkeyword" id="productkeyword" size="50" th:value="${productkeyword}" required />
        &nbsp;
        <input type="submit" value="Search" />
        &nbsp;
        <input type="button" value="Clear" id="btnClearProduct" onclick="clearSearch()" />
    </form>
    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/}]]";
        }
    </script>
    <br><br>
    <a th:href="@{/showFormAddProduct}" class="btn btn-primary btn-sm mb-3">Add Product</a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempProduct : ${products}">
            <td th:text="${tempProduct.name}">1</td>
            <td th:text="${tempProduct.price}">1</td>
            <td th:text="${tempProduct.inv}">1</td>
            <td>
                <a th:href="@{/showProductFormForUpdate(productID=${tempProduct.id})}" class="btn btn-primary btn-sm mb-3">Update</a>
                <a th:href="@{/deleteproduct(productID=${tempProduct.id})}" class="btn btn-primary btn-sm mb-3"
                   onclick="if(!(confirm('Are you sure you want to delete this product?')))return false">Delete</a>
                <form th:action="@{/buyProduct}" method="post" style="display:inline;">
                    <input type="hidden" name="productId" th:value="${tempProduct.id}" />
                    <button type="submit" class="btn btn-success btn-sm mb-3">Buy Now</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>